<% provide(:title, 'Help') %>
<h1 class="text-3xl font-bold text-center mb-8">Help</h1>
<p class="text-xl leading-relaxed">
    Get help on the Ruby on Rails Tutorial at the
    <a href="https://railstutorial.jp/help" class="text-blue-500 hover:text-blue-700">Rails Tutorial help
    page</a>.
    To get help on this GEOGEO!, see the
    <a href="https://railstutorial.jp/#ebook" class="text-blue-500 hover:text-blue-700 font-medium"><em>Ruby on Rails Tutorial</em> book</a>.
</p>