<% provide(:title, 'Forgot password') %>
<h1 class="text-3xl font-bold text-center mb-6">Forgot password</h1>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <%= form_with(url: password_resets_path, scope: :password_reset, class: "w-full") do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %>
        <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
      </div>

      <div class="mb-6">
        <%= f.submit 'Submit', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
    <% end %>
  </div>
</div>