<div class="container">
  <div class="row justify-content-center mx-auto">
    <div class="notification_box">
      <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <%= will_paginate @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
