<div class="container mx-auto">
  <div class="mx-auto">
    <div>
      <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
      <% if @notifications.exists? %>
        <%= render @notifications %>
        <%= paginate @notifications %>
      <% else %>
        <p>通知はありません</p>
      <% end %>
    </div>
  </div>
</div>
