<li class="flex items-center py-2 border-b border-gray-200">
  <%= gravatar_for user, size: 50, class: "rounded-full mr-4" %>
  <%= link_to user.name, user, class: "text-blue-500 hover:underline" %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= link_to 'delete', user, data: { 'turbo-method': :delete, turbo_confirm: 'You sure?' }, class: "text-red-500 hover:underline ml-4" %>
  <% end %>
</li>