<%= form_with url: search_path, method: :get do |f| %>
  <div class="flex items-center">
    <%= f.text_field :content, class: "border border-gray-300 rounded-md px-3 py-2 w-full" %>
    <%= f.submit 'Search', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded ml-2" %>
  </div>
<% end %>