<% @user ||= current_user %>
<div class="stats flex mt-0 p-0 overflow-auto">
  <a href="<%= following_user_path(@user) %>" class="stat float-left px-4 py-2 border-l border-gray-300 text-gray-500 hover:text-blue-500 hover:no-underline first:pl-0 first:border-l-0">
    <strong id="following" class="block">
      <%= @user.following.count %>
    </strong>
    following
  </a>
  <a href="<%= followers_user_path(@user) %>" class="stat float-left px-4 py-2 border-l border-gray-300 text-gray-500 hover:text-blue-500 hover:no-underline">
    <strong id="followers" class="block">
      <%= @user.followers.count %>
    </strong>
    followers
  </a>
</div>