<%= link_to gravatar_for(current_user, size: 50), current_user, class: "float-left mr-4" %>
<h1 class="text-3xl font-bold tracking-tight mb-6 text-center"><%= current_user.name %></h1>
<span class="block mb-3"><%= link_to 'view my profile', current_user, class: "text-blue-500 hover:text-blue-700" %></span>
<span class="block"><%= pluralize(current_user.microposts.count, 'micropost') %></span>