<footer class="mt-16 pt-5 border-t border-gray-300 text-gray-600">
  <div class="container mx-auto px-4">
    <small class="float-left">
      The <a href="https://railstutorial.jp/" class="text-gray-500 hover:text-gray-700">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/" class="text-gray-500 hover:text-gray-700">Michael Hartl</a>
    </small>
    <nav class="float-right">
      <ul class="list-none">
        <li class="inline-block mr-6"><%= link_to 'About', about_path, class: "text-gray-500 hover:text-gray-700" %></li>
        <li class="inline-block mr-6"><%= link_to 'Contact', contact_path, class: "text-gray-500 hover:text-gray-700" %></li>
        <li class="inline-block"><a href="https://news.railstutorial.org/" class="text-gray-500 hover:text-gray-700">News</a></li>
      </ul>
    </nav>
    <div class="clearfix"></div> 
  </div>
</footer>